# IDE specific ignores
.vscode
# dependencies
**/node_modules
# tests
**/coverage
**/.qlty
**/.scannerwork
**/dependency-check-*.*
**/docs
# generic
.DS_Store
.dockerignore
.editorconfig
.secretignore
.git
.github
.gitignore
.sonarprops
.env*
Dockerfile
Makefile
venv

